.card
        {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
            padding: 16px;
            text-align: center;
            background-color: #bdc2bf;
            overflow: hidden;
            border-radius: 10px;
            height: 300px;
            width: 200px;
        }   